.paginationNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 750px;
    justify-content: space-evenly;
    align-items: center;
    gap: 2;
  }
  
  .pagination li {
    margin: 0 1px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: #afb2b3;
    color: white;
    font: 20px;
  }
  
  .icons:hover {
    cursor: pointer;
  }
  
  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: #1e90ff;
    color: white;
    font: 20px;
  }
  
  .selectedPage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: white;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    font: 20px;
  }
  
  .page-link:hover {
    cursor: pointer;
  }